@model LibraryMVC.Models.UserModel

@{
    ViewBag.Title = "AdminDashBoard";
}

<h2>Admin Dashboard</h2>

<fieldset>
    <legend> Admin Details are displayed here ... </legend>

    @if (Session["UserName"] != null && Session["UserPassword"] != null)
    {
        <text>
            Welcome Admin User : @Session["UserName"].ToString()
        </text>

        <br />
        <br />

        <h5>Get Student List</h5>

        <form action="AdminDashBoard/GetAllStudents">
            <input class="btn-outline-primary" 
                   type="submit" 
                   onclick="parent.location='<%: Url.Action(" GetAllStudents", "Admin/AdminDashBoard" ) %>';
            />
        </form>

    }
</fieldset>  